* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}
nav .logo {
  width: 265px;
  line-height: 80px;
  padding: 0 100px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}
.products {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-4 {
  flex-basis: 25%;
  padding: 25px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  max-width: 100%;
}
.col-4:hover {
  transform: translateY(-5px);
}
.checked {
  color: orange;
}
